@{
    ViewBag.Title = "Internal Server Error";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    Response.StatusCode = 500;
}

@section head {
}

@section content {

    <h1 class="postdate">Internal Server Error</h1>
    <div class="post">
        <h2>Oops...</h2>
        <p>Sorry, but there was a problem with the page you requested. An email has been sent to the site administrator detailing the error. Please <a href="/">click here to return to the home page</a>.</p>
    </div>
}