<authentication mode="Forms">
    <forms loginUrl="~/admin/logon" timeout="2880">
        <credentials passwordFormat="Clear">
            <user name="USERNAME" password="PASSWORD" />
        </credentials>
    </forms>
</authentication>