<appSettings>
  <add key="LocalTestMode" value="true"/>
  <add key="IndexPageSize" value="5"/>
  <add key="InstallationUrl" value="HOSTNAME"/>
  <add key="ImageLibraryFolder" value="LIBRARYFOLDER" />
  <add key="AnalyticsID" value="ANALYTICSID" />
  <add key="CDN1" value="" />
  <add key="CDN2" value="" />
  <add key="TwitterConsumerKey" value="CONSUMERKEY"/>
  <add key="TwitterConsumerSecret" value="CONSUMERKEY"/>
  <add key="TwitterAccessToken" value="ACCESSTOKEN"/>
  <add key="TwitterAccessTokenSecret" value="ACCESSTOKENSECRET"/>
  <add key="TwitterAnywhereAPIKey" value="ANYWHEREAPIKEY"/>
  <add key="ServerType" value="SQLCE4" />
</appSettings>