<div class="post">
	<div class="postcontent">
		 <img class="link-img" src="/content/img/{{thumbnail}}" alt="" />
         <h3><a href="/{{url}}">{{title}}</a></h3>
         <p>{{{body}}}</p>
	</div>
	<div class="postcontrols">
		<p>By {{author}}</p>
		<p class="cl">{{comments}}</p>
	</div>
	<div class="pclr">&nbsp;</div>
</div>