@model eclectica.co.uk.Web.Models.CommentManageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {
}

@section content {

	<div class="post">
	    <h1>Manage Comments</h1>

        <p>@Html.ActionLink("Create new Comment", "Create") &raquo;</p>

        @if(Model.Comments.Count() > 0) 
        {
            <table id="postmanager">
            <tr>
                <th>Comment</th>
                <th style="width: 90px;">Edit</th>
            </tr>

            @foreach (var comment in Model.Comments)
            {
                <tr>
                    <td>@comment.Body.StripHtml()</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = comment.CommentID }, null) | @Html.ActionLink("Delete", "Delete", new { id = comment.CommentID }, null)</td>
                </tr>
            
            }
            
            </table>
        }

    </div>

}