@model eclectica.co.uk.Web.Models.ClearErrorLogViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $('#clear-logs-form').bind('submit', function () {

                return confirm('Are you sure you want to clear ALL errors logged before ' + $('#Limit').val() + '?');

            });

            $('.date-picker').datepicker({ 'dateFormat': 'dd/mm/yy 00:00' });

        });

    </script>

}

@section content {

	<div class="post">
	    <h1>Clear Error Logs</h1>

        @using (Html.BeginForm("ClearErrorLogs", "Entry", FormMethod.Post, new { id = "clear-logs-form" }))
        {

            <p>@Html.EditorFor(x => x.Limit) <input type="submit" value="Clear all logs before this date" /></p>
            
        }

        @if(Model.Status != null && Model.Status != "")
        {
            <p class="status">@Model.Status</p>
        }


    </div>

}