@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {
}

@section content {

	<div class="post">
	    <h1>Create Search Index</h1>

        <p>Done!</p>

    </div>

}