@model eclectica.co.uk.Web.Models.IndexViewModel

@using System.Text.RegularExpressions

@{
    ViewBag.FeedUrl = "/feed/summary";
    ViewBag.Updated = Model.Entries.Max(x => x.Updated).ToString("yyyy-MM-dd'T'HH:mm:ss'Z'");
    Layout = "~/Views/Shared/Rss.cshtml";
}

@section content {

    @foreach (var entry in Model.Entries)
    {

        // Replace relative URLs with absolute URLs
        var body = Regex.Replace(entry.Body, "\"(/.*?)\"", "\"http://eclectica.co.uk$1\"");
        
        <entry>
                <title type="text">@((entry.Title == null || entry.Title == "") ? entry.Published.ToString("dddd dd MMMM yyyy, HH:mm") : entry.Title)</title>
                <link href="http://eclectica.co.uk/@entry.Url" rel="alternate" type="text/html" />
                <content type="html">
                    <![CDATA[ 
                    <p>@Html.Raw(Regex.Matches(body, "<p>(.*?)</p>", RegexOptions.Singleline | RegexOptions.IgnoreCase)[0].Groups[1].Value)</p>
                    ]]>
                </content>
                <id>http://eclectica.co.uk/@entry.Url</id>
                <published>@entry.Published.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")</published>
                <updated>@entry.Updated.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")</updated>
        </entry>
            
    }

}