@model eclectica.co.uk.Web.Models.AdminPostsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {
}

@section content {

    <h1 class="postdate">Eclectica CMS</h1>
	<div class="post">
	    <h1>Manage Posts</h1>
    </div>

}