@model eclectica.co.uk.Web.Models.AdminPostsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section head {
}

@section content {

    <h1 class="postdate">Eclectica CMS</h1>

	<div class="post">
	    <h1>Manage Posts</h1>

        @if(Model.Entries.Count() > 0) 
        {
            <table id="postmanager">
            <tr>
                <th>Title</th>
                <th style="width: 60px;">Link</th>
                <th style="width: 90px;">Edit</th>
                <th style="width: 75px;">Publish</th>
            </tr>

            @foreach(var entry in Model.Entries)
            {
                <tr@((entry.Publish == true) ? "" : " class=\"unpublished\"")>
                    <td>@entry.Title</td>
                    <td><a onclick="window.open(this.href); return false;" href="@entry.Published.ToString("/yyyy/MM/dd/")@entry.Url/">Show</a> &raquo;</td>
                    <td><a href="/admin/post/edit/@entry.EntryID">Edit</a> | <a class="delete" href="/admin/post/delete/@entry.EntryID">Delete</a></td>
                    <td>
                        @if(entry.Publish) {
                        <a href="/admin/post/unpublish/@entry.EntryID">Unpublish</a>
                        }else{
                        <a href="/admin/post/publish/@entry.EntryID">Publish</a>
                        }
                    </td>
                </tr>
            
            }
            
            </table>
        }

    </div>

}