@{
    ViewBag.Title = "Debug";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section head {

<script type="text/javascript" src="/scripts/entry.js"></script>
<script type="text/javascript" src="/scripts/thumbtips.js"></script>

}

@section content {
    
    <h2>Debug</h2>

}