@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section head {
}

@section content {

    <h1 class="postdate">About</h1>
	<div class="post">
			<img src="/content/img/site/me.jpg" width="74" height="74" alt="Me" class="l-img" />
			<p>Hi, my name's Mark. I'm a <a href="http://markashleybell.com/">web designer and developer</a> based in Devon, England.</p>
			<p>This site is an attempt to collate all the cool things I find or have sent to me daily. It's about the things I enjoy, and ideas that make an impression on me.</p>
			<p>It's an editing process, and intended to produce something that I (and others) can use both as a reference, and as an inspirational jumping-off point.</p>
			<p>If you create (or find) something that you think would fit well with the other works showcased on this site, please let me know at <a href="mailto:design@eclectica.co.uk">design@eclectica.co.uk</a> or message me on Twitter at <a href="http://twitter.com/eclecticablog">@@eclecticablog</a>.</p>			            
			<p><cite>I will always try to credit original sources whereever I can, but quite a few of the items I post are from the huge archive of bookmarks I've built up over the years, so in these cases I won't be able to remember them, sorry!</cite></p>

    </div>
        <h2 class="postdate">Other Eclectica</h2>
    <div class="post">
			       
			<p>This site has a full-content RSS feed; to subscribe, just point your reader at: <br /><a href="http://eclectica.co.uk/feed/main">http://eclectica.co.uk/feed/main</a></p>
			<p>You can also <a href="http://twitter.com/eclecticablog">follow Eclectica on Twitter</a>, where I post quite a few things that I don't have time to do a full post about; there is an <a href="http://www.facebook.com/eclecticablog">Eclectica fan page on Facebook</a> too.</p>

			    <div id="fbfanbox">
			    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feclecticablog&amp;width=638&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23e0e0e0&amp;stream=false&amp;header=true&amp;height=362" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:638px; height:362px;" allowTransparency="true"></iframe>
                </div>
			             
			             
    </div>

            
	<h2 class="postdate">Policies</h2>
	<div class="post">

			<p>Any and all personal data submitted to this site (by whatever means) is used for the purposes of the site only. 
			I will never sell or otherwise release any personal details to any third party. Ever.</p>
			        
    </div>
    <h2 class="postdate">Copyright &amp; Ownership</h2>
    <div class="post">
			<p>All text content is &copy; Mark Ashley Bell, with the exception of quotations, which are attributed accordingly.</p>
			<p>All images are copyright of their respective authors, who are indicated either by the accompanying text or the image caption.</p>
			<p>I feel that my use of images on this site falls under the umbrella of <a href="http://www.copyrightservice.co.uk/copyright/p09_fair_use">Fair Use</a>: 
			I am crediting the authors, no high-resolution versions of the images are made available, 
			and the images themselves are only ever used to promote the subject of the post.</p>
			<p>However, if you are the author or owner of an image featured on the site and you would like it removed,
				please email <a href="mailto:design@eclectica.co.uk">design@eclectica.co.uk</a>.</p>
				<div id="cclink" xmlns:cc="http://creativecommons.org/ns#" about="http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/all-comments/">The excellent social network/bookmarking icons are courtesy <br />of <a rel="cc:attributionURL" property="cc:attributionName" href="http://komodomedia.com">Komodo Media, Rogie King</a> / <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</div>
			       
    </div>

}